@import "colors";

$border-radius-default: 6px;
$border-radius-button: 6px;
$border-radius-modal: 10px;

$border-radius-field: 4px;
$border-radius-checkbox: 3px;

$box-shadow-default: 0px 7px 10px 5px rgba($color-dark, .08);