@import "colors";

.navbar {
  background: $color-primary;

  .logo {
    cursor: pointer;
  }
}

.navbar-urls {
  a, p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    padding: 8px 0;
    margin: 0 20px;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 36px;
    height: 36px;
  }

  .router-link-active {
    border-bottom: 1px solid white;
  }
}

$border-radius-default: 6px;
$border-radius-button: 6px;
$border-radius-modal: 10px;

$border-radius-field: 4px;
$border-radius-checkbox: 3px;

$box-shadow-default: 0px 7px 10px 5px rgba($color-dark, .08);