@import "colors";

.navbar {
  background: $color-primary;

  .logo {
    cursor: pointer;
  }
}

.navbar-urls {
  a, p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    padding: 8px 0;
    margin: 0 20px;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 36px;
    height: 36px;
  }

  .router-link-active {
    border-bottom: 1px solid white;
  }
}

.page {
  max-width: 1120px;
  margin: 44px auto;
  width: 100%;
  background: white;

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
  }

  &-input {
    border: 1px solid #EEEEEE;
    border-radius: 16px;
    width: 340px;
    padding: 22px 16px;

    input {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #CCCCCC;
    }
  }
}

.v-pagination__list {
  .v-btn.v-btn--density-default {
    width: 32px;
    height: 32px;
  }
}

.v-pagination__item {
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  width: 32px;
  overflow: hidden;
  height: 32px;

  .v-btn__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.primary-btn {
  background: $color-primary;
  border-radius: 12px;
  width: 247px;
  padding: 16px;
  height: unset !important;

  .v-btn__content {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}

.status-btn {
  border-radius: 8px;
  padding: 9px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  width: 168px;
  text-transform: none;
}

.red {
  color: #E31E24;
  background: rgba(227, 30, 36, 0.1);
}

.blue {
  .v-btn__content {
    color: #00A0E3;
  }

  background: rgba(0, 160, 227, 0.1);
}

.v-table > .v-table__wrapper > table {
  border: 1px solid #DADADA;
  border-radius: 16px;
  overflow: hidden;

  thead {
    background: #DADADA;

    tr th {
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
    }
  }
}
