@import "variables";
@import "mixins";

//@include font-face('SF Pro Text', normal, $font-weight-regular, '../fonts/sf-pro-text/SFProText-Regular', 'SFProText-Regular')

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $color-text-regular;
}

h1, .h1, %h1 {
  font-family: $font-family-secondary;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: $font-weight-bold;
  letter-spacing: .2px;
}

h2, .h2, %h2 {
  font-family: $font-family-secondary;
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-semibold;
  letter-spacing: .2px;
}

h3, .h3, %h3 {
  font-family: $font-family-secondary;
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-semibold;
  letter-spacing: .2px;
}

h4, .h4, %h4 {
  font-family: $font-family-secondary;
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: $font-weight-semibold;
  letter-spacing: .2px;
}

h5, .h5, %h5 {
  font-family: $font-family-secondary;
  font-size: $font-size-h5;
  line-height: $line-height-h5;
  font-weight: $font-weight-semibold;
  letter-spacing: .2px;
}

h6, .h6, %h6 {
  font-family: $font-family-secondary;
  font-size: $font-size-h6;
  line-height: $line-height-h6;
  font-weight: $font-weight-semibold;
  letter-spacing: .2px;
}